<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= Gon::Base.render_data %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLE_MAP_ACCESS_KEY"]%>&callback=renderBaseMap"type="text/javascript"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
